# Python basics
## sub headline
regular text *text*, **text**
- point 1
- point 2
- point 3

In [1]:
print ("hello world")

hello world

In [2]:
name="lovelace"
#quotation --> String is used

In [3]:
print (name)
# no quotation

lovelace

In [4]:
age = 73

In [5]:
size = 1.7123

In [6]:
knows_math = True
print(knows_math)
likes_garding = False
print(likes_garding)

True
False

In [7]:
type(age)

int

**Operators**

In [9]:
age * 100

7300

In [10]:
name + name

'lovelacelovelace'

In [11]:
name*10

'lovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelace'

In [12]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [13]:
name + str(10)

'lovelace10'

In [14]:
name + "10"

'lovelace10'

In [15]:
size/age

0.023456164383561642

In [22]:
# functions and methods
print(name)
len(name)
#print("hello world")

lovelace

8

In [25]:
name.upper()
#.upper is a method useable for every string

'LOVELACE'

In [26]:
print(name)

lovelace

In [27]:
name_upper = name.upper()

In [29]:
print(name_upper)

LOVELACE

In [32]:
name.count("e")

2

In [37]:
name.replace("lace"," is everywhere") 
# takes 2 arguments separated with a comma
#uses positional argument

'love is everywhere'

In [39]:
# Lists and Dictionaies

In [40]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [46]:
names[0]
# python counts starting with "0"

'Lovelace'

In [47]:
names[-1]

'Hawking'

In [50]:
len(names)

4

In [60]:
len(names[1])
#lists as containers

6

In [54]:
names[0:2]
# 1. is included and last is excluded

['Lovelace', 'Darwin']

In [56]:
names[:2]
#start from begining, end at 1

['Lovelace', 'Darwin']

In [57]:
names[2:]

['Curie', 'Hawking']

In [59]:
slice_point = 2
print(names[:slice_point])
print(names[slice_point:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [64]:
authors_and_birth_years = {"Lovelace":1882,
                           "Darwin": 1809, 
                           "Noether": 1882}
#dictionaries contain of key and an argument

In [65]:
authors_and_birth_years["Noether"]

1882

In [66]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [67]:
for name in names:
    print(name + " did awesome stuff")
    print("------------------")

Lovelace did awesome stuff
------------------
Darwin did awesome stuff
------------------
Curie did awesome stuff
------------------
Hawking did awesome stuff
------------------

In [69]:
for name in names:
    print(name + " did awesome stuff")
print("------------------")
#indentations are important!

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
------------------

In [70]:
awesome_dict = {"Raphael": 1991,"Janko": 1986}

In [79]:
for author, birth_year in awesome_dict.items():
    print( author + " was born in " + str(birth_year))

Raphael was born in 1991
Janko was born in 1986

Conditionals

In [82]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [83]:
temp = 5
if temp > 15:
    print("It's warm")

In [88]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [90]:
temp > 15

True

In [91]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("its cold")

It's warm

In [97]:
temp = 15
if temp > 15:
    print("It's warm")
else:
    print("its cold")

its cold

In [98]:
temp = 20
if temp >= 25:
    print("It's hot")
elif temp >15:
    print("its warm")
else:
    print("It'S cold")
    
# unlimited elif (else + if) possible
# only one 1 and 1 else
# if "if" is fullfilled --> leaves loop

its warm

In [99]:
temp = 40
if temp >= 25:
    print("It's hot")
elif temp >15:
    print("its warm")
else:
    print("It'S cold")

It's hot